body {
  font-family: sans-serif;
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 16px;
}

#answer,
#opening-description {
  display: none;
  margin-top: 30px;
  padding: 15px;
  background-color: #f9f9f9;
  border-left: 4px solid #007acc;
  white-space: pre-wrap;
}

#board {
  margin-top: 0px;
  width: 400px;
}

.centered-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-bottom: 0px;
}